/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/.phpstorm.meta.php
/_ide_helper.php
/composer.lock
/.env
database/migrations.rar
*.rar
.phpintel/index
/.phpintel
/.phpintel/*
/.phpintel/index
.idea
.idea/laravel-plugin.xml
app/Http/Controllers/Admin/CsisController-bk.rar
.phpintel
/.idea/*
.phpintel/126462f275504084ec0d942b1013f9a2
/.phpintel/
*.env
*.zip
*/.*
/public/default_ChannelIDs.conf
/public/default_settings.conf
/public/default_SyncServer.conf
/public/settings.conf.new
!/public/images/sling_n_dish.png
cm.access.log
error.log
public/pp.php
storage/debugbar/
public/configs/
public/configs/*
